doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/lib/jquery.min.js')  
    script(src='/javascripts/index.js')
    script(src='https://cdn.onesignal.com/sdks/OneSignalSDK.js')
    script.
      var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
        appId: "513c54a9-d64a-44a6-9c58-68d7ab9ce630",
        autoRegister: true, /* Set to true to automatically prompt visitors */
        subdomainName: 'coderwe',
        /*
        subdomainName: Use the value you entered in step 1.4: http://imgur.com/a/f6hqN
        */
        httpPermissionRequest: {
          enable: true
        },
        notifyButton: {
            enable: false /* Set to false to hide */
        }
        ,persistNotification : false
        ,safari_web_id: 'web.onesignal.auto.337e82fd-eeda-48f8-8fe5-d2f6dec774c2'
      }]);
  body
    block content
